button:focus {outline:0;}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../assets/felt.jpg);
}

h3 {
  text-align: center;
}

h2 {
  text-align: left;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
}

button {
  height: 40px;
  width: 100px;
  border-radius: 15px;
  font-size: 16px;
}

form {
  margin-top: 5px;
  padding: auto;
}

p {
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

.remove-btns {
  display: none;
}

.game-op {
  margin-bottom: 2px;
}

#play-game.remove-btns {
  display: none;
}

#bet-row {
  text-align: center;
  border: 1px dashed black;
  width: 400px;
  margin: 0 auto;
}

#player-info {
  margin: 5px;
}

#bet-10 {
  border-radius: 100px;
}

#dealer-name {
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}

#player-name {
  text-align: center;
  margin-bottom: 2px;
}

#player-btn-div {
  text-align: center;
}

#dealer-display {
  text-align: center;
}

#player-display {
  text-align: center;
}

#middle-display {
  height: 5px;
  text-align: center;
}

#play-game {
  text-align: center;
  display: inline-block;
  margin-bottom: 2px;
}

#hand {
  text-align: center;
  height: 200px;
}



